<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>

    <header>
        <p><a href="/">Home</a></p>
        <h1>{{ title }}</h1>
        <h2>Created by {{ author }}</h2>
        
    </header>
<div class="divider"></div>
    <section class="blog-content">
        <div class="blog-description">
            <p>{{ description }}</p>
        </div>
        <div class="divider"></div>
        <div class = "blog-entries">
        <div class="entry-header">
            <h2>Entries</h2>
            {% if is_owner %}
                <a href = "{{ url_for('create_entry', blog_id=blog_id)}}" style="display: flex; justify-content: center; align-content: center; flex-wrap: wrap">
                    <img src="{{ url_for('static', filename='images/icons/add.svg') }}" alt="Add Entry" style="width: 30px; margin-right: 10px">
                    <h2 style="color: #2773E4">Add</h2>
                </a>
                <a href = "{{ url_for('delete_blog', blog_id=blog_id)}}" style="display: flex; justify-content: center; align-content: center; flex-wrap: wrap">
                    <img src="{{ url_for('static', filename='images/icons/trash.svg') }}" alt="Delete Blog" style="width: 30px; margin-right: 10px">
                    <h2 style="color: rgb(222, 23, 23)">Delete</h2>
                </a>
            {% endif %}
        </div>
            {% if entries %}
            <p>Each entry is an individual article or post within this blog.</p>
            {% for entry in entries %}
                <div class="blog-post">
                <h3><a href = "{{ url_for('view_entry', blog_id=blog_id, entry_id=entry[0])}}" >{{entry[1]}}</a></h3>
                <p>Created on {{entry[2]}}</p>
                </div>
            {% endfor %}
            {% else %}
                <p>No entries created for this blog...</p>
            {% endif %}
        </div>
    </section>

</body>
</html>
