<!--
Will Nzeuton, Tim Ng, Daniel Park, Yinwei Zhang
Team lobo
SoftDev
p00 -- scenario 2
2024-11-07
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
    <title>Browse by Categories</title>
    <script>
        function submit() {
            document.getElementById("filter").submit();
        }
    </script>
</head>
<body>
<p><a href="/">Home</a></p>
<div style="margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between">
<h1>Find by Categories</h1>
<form id="filter" method="POST" style="width: 150px; height: 40px">
        <select name="category" id="category" onchange="submit()" style="width: 100%; height: 100%">
            {% for category in categories %}
                <option value="{{ category }}"
                        {% if category == selected_category %}
                            selected
                        {% endif %}
                >
                    {{ category }}
                </option>
            {% endfor %}
        </select>
</form>
</div>

{% if blogs %}
    {% for blog in blogs %}
        <article class="blog-post">
            <h3><a href="{{ url_for('blog_detail', blog_id=blog[0])}}">{{ blog[1] }}</a></h3>
            <p><b>By {{ blog[3]}}</b></p>
            <p>{{ blog[2] }}</p>
        </article>
    {% endfor %}
{% else %}
    <article class="blog-post-empty">
    <img src="{{ url_for('static', filename='images/icons/none.svg') }}" alt="No Blogs" style="width: 30px; margin-right: 10px">
    <p>No blogs in this category...</p>
        <a href= "{{ url_for('blog')}}" ><button>Create a New Blog</button></a>
    </article>
{% endif %}

</body>
</html>