<!--
Will Nzeuton, Tim Ng, Daniel Park, Yinwei Zhang
Team lobo
SoftDev
p00 -- scenario 2
2024-11-07
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog entry</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
    <header>
        <p><a href="/">Home</a></p>
        <h1>{{ entry_title }}</h1>
        <h2>Posted by {{ entry_author }}</h2>
        <div class="divider"></div>
        <p>Created on {{ entry_date }}</p>
    </header>
    <div class="divider"></div>
    <section class="entry-content">
        <p>{{ entry_content|safe }}</p>
    </section>
    <div class="divider"></div>
    {% if is_owner %}
        <a href = "{{ url_for('edit_entry', blog_id=blog_id, entry_id=entry_id)}}" style="display: flex; justify-content: center; align-content: center; flex-wrap: wrap">
            <img src="{{ url_for('static', filename='images/icons/add.svg') }}" alt="Edit Entry" style="width: 30px; margin-right: 10px">
            <h2 style="color: #2773E4">Edit Entry</h2>
        </a>
    {% endif %}
</body>
</html>
