<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog entry</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
    <header>
        <p><a href="/">Home</a></p>
        <h1>{{ entry_title }}</h1>
        <h2>Posted by {{ entry_author }}</h2>
        <div class="divider"></div>
        <p>Created on {{ entry_date }}</p>
    </header>
    <div class="divider"></div>
    <section class="entry-content">
        <p>{{ entry_content|safe }}</p>
    </section>
    <div class="divider"></div>
    <section class = "entry-comments">
        <h2>Comments</h2>
        <article class="blog-post-empty">
            <img src="{{ url_for('static', filename='images/icons/none.svg') }}" alt="No Comments" style="width: 30px; margin-right: 10px">
            <p>No comments on this entry...</p>
            <a href= "/" ><button>Add a Comment</button></a>
        </article>
    </section>
</body>
</html>
