<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<h1>{{ username }}</h1>
<h2> {{ email }}</h2>
<h3><a href="/settings?update=true&type=username">Change username</a> | <a href="/settings?update=true&type=email">Change
    email</a> | <a href="/settings?update=true&type=password">Change password</a> | <a href="/logout">Log out</a> | <a
        href="/user/{{ username }}">Back to Profile</a></h3>
{% for error in message %}
    <p>{{ error }}</p>
{% endfor %}
{% if update == true %}
    <p>Update user info | <a href="/settings">Cancel</a></p>

    <form action="/settings?update=true&type={{ type }}" method="POST">
        {% if type == "username" %}
            <label>
                <input type="text" name="username" placeholder="new username" required>
            </label><br>
        {% elif type == "email" %}
            <label>
                <input type="email" name="email" placeholder="new email" required>
            </label><br>
        {% elif type == "password" %}
            <label>
                <input type="password" name="new_password" placeholder="new password" required>
            </label><br>
            <label>
                <input type="password" name="confirm_password" placeholder="confirm new password" required>
            </label><br>
        {% endif %}
        <label>
            <input type="password" name="password" placeholder="current password" required>
        </label><br>
        <button type="submit" name="sub1">Confirm</button>
    </form>
{% endif %}
</body>
</html>
