<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<h1>{{ username }}</h1>
<h2> {{ email }}</h2>
<div style="margin-bottom: 20px; width: 100%; display: flex; justify-content: space-between; flex-wrap: wrap">
    <div style="display: flex; gap: 10px">
        <a href="/settings?update=true&type=username">
            <button>Change username</button>
        </a>
        <a href="/settings?update=true&type=email">
            <button>Change email</button>
        </a>
        <a href="/settings?update=true&type=password">
            <button>Change password</button>
        </a>
    </div>
    <div style="display: flex; gap: 10px">
        <a href="/logout">
            <button>Log out</button>
        </a>
        <a href="/user/{{ username }}">
            <button>Back to Profile</button>
        </a>
        <a href ="/settings?update=true&type=delete">
            <button style="background-color: rgb(173, 0, 0)">Delete account</button>
        </a>
    </div>
</div>
{% for error in message %}
    <p>{{ error }}</p>
{% endfor %}
{% if update == true %}
    <article class="blog-post-empty">
    <h3 style="margin-top: -3px">Updating user information...</h3>

    <form action="/settings?update=true&type={{ type }}" method="POST">
        {% if type == "username" %}
            <label>
                <input type="text" name="username" placeholder="new username" required>
            </label><br>
        {% elif type == "email" %}
            <label>
                <input type="email" name="email" placeholder="new email" required>
            </label><br>
        {% elif type == "password" %}
            <label>
                <input type="password" name="new_password" placeholder="new password" required>
            </label><br>
            <label>
                <input type="password" name="confirm_password" placeholder="confirm new password" required>
            </label><br>
        {% elif type == "delete" %}
            <label>
                <input type="text" name="delete" placeholder="Type your username to confirm deletion" required>
            </label>
        {% endif %}
        <label>
            <input type="password" name="password" placeholder="current password" required>
        </label><br>
        <button type="submit" name="sub1">Confirm</button>
    </form>
        <a href="/settings">
            <button style="width: 350px;">Cancel</button>
        </a>
    </article>
{% endif %}
</body>
</html>
