<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<div>
<h1>All Blogs</h1>
<p><a href="/">Go back Home</a></p>
</div>

<div class="main-blog-view">
    <div class="left-section">
    {% if guest %}
        <h2>Must be logged in to create blogs</h2>
    {% else %}
        <section>
            <h2>Create Blog</h2>
            <form method="POST" action="/blogs">
                <div>
                    <label for="title">Title</label>
                    <input type="text" name="title" required>
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea name="description" required></textarea>
                </div>
                <div>
                    <label for="category">Category</label>
                    <select name="category" id="category">
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </section>
    {% endif %}
        <section>
            <h2>Browse Blogs</h2>
            <p>View by <a href="category">categories</a></p>
        </section>
    </div>
    <div class="right-section">
        <h2>All Blogs</h2>
        {% for blog in blogs %}
            <article class="blog-post">
                {{ blog[0] | safe }}
            </article>
        {% endfor %}
    </div>
</div>
</body>
</html>