<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
</head>
<body>
    <h1>Go back <a href="/">Home</a></h1>
    <h1>Blog Page</h1>

    {% if guest %}
        <h4>Must be logged in to create blogs</h4>
    {% else %}
    <h2>Create Blog</h2>
    <form method="POST" action="/blogs">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="description" required></textarea>
        </div>
        <div>
            <label for="category">Category</label>
            <select name="category" id="category">
                {% for category in categories %}
                    <option value="{{category}}">{{category}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
    {% endif %}

    <h4>View by <a href="category">categories</a></h4>

    {% for blog in blogs %}
        {{ blog }}
    {% endfor %}
</body>
</html>