<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>

    <header>
        <h1>{{ title }}</h1>
        <h2>By {{ author }}</h2>
        <a href="{{ url_for('blog') }}">Back to All Blogs</a>
    </header>

    <section class="blog-content">
        <div class="blog-description">
            <p>{{ description }}</p>
        </div>
        <div class = "blog-entries">
            <h2>Entries</h2>
            {% if is_owner %}
                <p><a href = "{{ url_for('create_entry', blog_id=blog_id)}}">Create new entry</a></p>
            {% endif %}
            {% for entry in entries %}
                <h3>{{entry[1]}} - {{entry[2]}}</h3>
            {% endfor %}
        </div>
    </section>

</body>
</html>
