<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>

    <header>
        <h1>{{ title }}</h1>
        <a href="{{ url_for('blog') }}">Back to All Blogs</a>
    </header>

    <section class="blog-content">
        <div class="blog-description">
            <p>{{ description }}</p>
        </div>
        <article>
            {{ content | safe }}
        </article>
    </section>

</body>
</html>
