<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog entry</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
    <header>
        <p><a href="{{ url_for('blog_detail', blog_id=blog_id)}}">Go back</a></p>
        <h1>{{ entry_title }}</h1>
        <h2>By {{ entry_author }}</h2>
        <h2>Posted on {{ entry_date }}</h2>
        
    </header>
    <hr style="border-color: royalblue;">
    <section class="entry-content">
        <p>{{ entry_content|safe }}</p>
    </section>
    <hr style="border-color: royalblue;">
    <section class = "entry-comments">
        <h2>Comments</h2>
    </section>
</body>
</html>
