<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<img src="{{ url_for('static', filename='images/XBXLOBOG.svg') }}" alt="XBXLOBOG" style="height: 50px">
{% if guest %}
    <div class="guest-view">
        <h2>Welcome to the blog!</h2>
        <div class="auth-opts">
            <a href="/login"><h2 class="button">Log In</h2></a>
            <a href="/signup"><h2 class="button">Sign Up</h2></a>
        </div>
    </div>
{% else %}
    <div class="guest-view">
        <h2>Welcome back, {{ username }}!</h2>
        <div class="auth-opts">
            <a href="/user/{{ username }}"><h2 class="button">Profile</h2></a>
            <a href="/logout"><h2 class="button">Log Out</h2></a>
        </div>
    </div>
{% endif %}

<section class="hero-grid">
    <a class="all-blogs" href="/blogs">
            <img src="{{ url_for('static', filename='images/all.svg') }}" alt="All Blogs" style="width: 100px; margin-bottom: 20px">
            <h2 style="margin: 10px; color: #dadada">View & Create Blogs</h2>
    </a>
    <a class="categories" href="/category">
        <img src="{{ url_for('static', filename='images/filter.svg') }}" alt="Filter by Categories" style="width: 50px; margin-bottom: 20px">
        <h2 style="margin: 5px">Filter by Categories</h2>
    </a>
    {% if guest %}
        <a class="my-account" href="/login">
            <img src="{{ url_for('static', filename='images/user.svg') }}" alt="Log In" style="width: 50px; margin-bottom: 20px">
            <h2 style="margin: 5px">Log In</h2>
        </a>
    {% else %}
        <a class="my-account" href="/user/{{ username }}">
            <img src="{{ url_for('static', filename='images/user.svg') }}" alt="My Account" style="width: 50px; margin-bottom: 20px">
            <h2 style="margin: 5px">My Account</h2>
        </a>
    {% endif %}
</section>

<p style="margin-top: 50px;">Created by Team <b style = "color:violet">lobo</b></p>
</body>
</html>
