<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<h1>xbxlobog</h1>
{% if guest %}
    <div class="guest-view">
        <h2>Viewing as guest</h2>
        <div class="auth-opts">
            <a href="/login" class="button"><h2>Log In</h2></a>
            <a href="/signup" class="button"><h2>Sign Up</h2></a>
        </div>
    </div>
{% else %}
    <div class="guest-view">
        <h2>Signed in as {{ username }}</h2>
        <div class="auth-opts">
            <a href="/user/{{ username }}" class="button"><h2>Profile</h2></a>
            <a href="/logout" class="button"><h2>Log Out</h2></a>
        </div>
    </div>
{% endif %}

<section class="hero-grid">
    <a class="all-blogs" href="/blogs">
            <img src="{{ url_for('static', filename='images/all.svg') }}" alt="All Blogs" style="width: 100px; margin-bottom: 20px">
            <h2 style="margin: 10px">View All Blogs</h2>
    </a>
    <div class="categories">
        <img src="{{ url_for('static', filename='images/filter.svg') }}" alt="Filter by Categories" style="width: 50px; margin-bottom: 20px">
        <h2 style="margin: 5px">Filter by Categories</h2>
    </div>
    <div class="my-account">
        <img src="{{ url_for('static', filename='images/user.svg') }}" alt="User Page" style="width: 50px; margin-bottom: 20px">
        <h2 style="margin: 5px">My Account</h2>
    </div>
</section>

</body>
</html>
