<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<h1>xbxlobog</h1>
{% if guest %}
    <h2>Viewing as guest - <a href="/login">log in</a> or <a href="/signup"> create an account</a></h2>
{% else %}
    <h2>Signed in as {{ username }} - <a href="/logout">log out</a></h2>
    <h2><a href="/user/{{ username }}">View profile</a></h2>
{% endif %}
<h2>View <a href="blogs">Blog Page</a></h2>

<section>
    <div>
        <h2>View All Blogs</h2>>
    </div>

    <div>
        <h2>View By Categories</h2>>
    </div>
    
    <div>
        <h2>My Account</h2>>
    </div>
</section>

</body>
</html>
