<html>
  <head>
    <title> Signup </title>
  </head>
  <body>
    <h1>
      Create an account!
    </h1>
    {% for error in message %}
    <h4>{{ error }}</h4>
    {% endfor %}
    <h3>
      Please enter the information below.
    </h3>
    <form action="/signup" method="POST">
      <input type="text" name="username" placeholder="username"><br>
      <input type ="email" name="email" placeholder="email"><br>
      <input type="password" name = "password" placeholder="password"><br>
      <input type="password" name = "confirm_password" placeholder="confirm password"><br>
      <input type="submit" name="signup">
    </form>
    <br>
    <h3> Or <a href="/">continue as guest</a></h3>
<h4>Already have an account? Log in <a href="/login">here</a></h4>
  </body>

</html>