<html>
<head>
    <title> Signup </title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<h1>
    Create an account!
</h1>
{% for error in message %}
    <p>{{ error }}</p>
{% endfor %}
<h3>
    Please enter the information below.
</h3>
<form action="/signup" method="POST">
    <label>
        Username
        <input type="text" name="username" placeholder="My Name" required>
    </label><br>
    <label>
        Email
        <input type="email" name="email" placeholder="address@example.com" required>
    </label><br>
    <label>
        Password
        <input type="password" name="password" required>
    </label><br>
    <label>
        Confirm Password
        <input type="password" name="confirm_password" required>
    </label><br>
    <button type="submit" name="sub1">Sign Up</button>
</form>
<br>
<h3> Or <a href="/">continue as guest</a></h3>
<p>Already have an account? Log in <a href="/login">here</a></p>
</body>

</html>