<html>
<head>
    <title> User Profile </title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<h1>
    {% if user == None %}
        USER DOES NOT EXIST
    {% else %}
        {{ user[1] }}
    {% endif %}
</h1>
<p><a href="/">Go back Home</a></p>
{% if owns_account %}
<p><a href="/profile">User settings</a></p>
{% endif %}
{% if user != None %}
<h2>Blogs</h2>
{% for blog in blogs %}
    <h3>{{ blog[1] }} - {{ blog[3] }}</h3>
    <p>{{ blog[2] }}</p>
{% endfor %}
<h2>Coments</h2>
{% endif %}

</body>

</html>