<html>
<head>
    <title> User Profile </title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <link href="https://use.typekit.net/gma7sba.css" rel="stylesheet">
</head>
<body>
<h1>
    {% if user == None %}
        USER DOES NOT EXIST
    {% else %}
        {{ user[1] }}
    {% endif %}
</h1>
<p><a href="{{ request.referrer or url_for('home')}}">Go back</a></p>
{% if owns_account %}
<p><a href="/settings?username={{user[1]}}">User settings</a></p>
{% endif %}
{% if user != None %}
<h2>Blogs</h2>
{% if blogs %}
    {% for blog in blogs %}
        <article class="blog-post">
        <h3><a href = "/blogs/{{blog[0]}}">{{blog[1]}}</a></h3>
        <p><b>By {{ blog[4] }}</b> in {{ blog[3] }}</p>
        <p>{{ blog[2] }}</p>
        </article>
    {% endfor %}
{% else %}
    <p>No blogs found.</p>
{% endif %}
<h2>Comments</h2>
{% endif %}

</body>

</html>